* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 2em; */
  /* color: #5995da; */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* margin-left: 20px; */
}

.links {
  margin-right: 20px;
  display: flex;
  /* justify-content: flex-end; */
}

.links a {
  margin-right: 40px;
}

.account {
  margin-right: 20px;
}

.section-one {
  background-color: #869095;
  /* padding-top: 100vh; */

  /* display: flex; */
}

.section-one,
p {
  color: #eccf87;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.section-one-h1 {
  font-size: 2em;
  color: #fffffd;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

.section-one-scroll-down {
  color: #fffffd;
  font-size: 15px;
  font-weight: normal;
}
